@charset "UTF-8";
/* белый цвет герой #FFFFFF;*/
/* основной цвет текста #757575;*/
/* цвет зогаловок текста #212121;*/
/* вторичный цвет фона #F5F4FA;*/
/* цвет акцент #2196f3;*/
/* цвет фона подвал и герой #2F303A; */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.address {
  font-style: normal;
}

body {
  background-color: #fff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  margin-left: auto;
  margin-right: auto;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header .conteiner,
.hero .conteiner {
  display: flex;
  align-items: center;
}

.hero .conteiner {
  flex-direction: column;
}

.logotip {
  /* outline: 1px solid tomato; */
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  /* 16 */
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation .logotip,
.footer .logotip {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  /* 31 */
  letter-spacing: 0.03em;
}

.logotip-accent {
  outline-color: #2195f3;
  color: #2196f3;
}

.footer .logotip {
  padding-top: 0;
  padding-bottom: 20px;
}

.footer__logotip-color {
  color: #ffffff;
}

.modal-btn {
  min-width: 200px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  border: none;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  /* 30 */
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
}

.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  /* 42 */
  text-align: center;
  margin-bottom: 50px;
}

.header .conteiner,
.header .navigation,
.header .navigation-list,
.header .contacts-list {
  display: flex;
  align-items: center;
}

.navigation-list {
  margin-left: 93px;
}

.navigation-list__item {
  position: relative;
}

.navigation-list__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list .item-current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196f3;
}

.navigation-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  /* 16 */
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list__link::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scaleX(0);
}

.navigation-list__link:hover::after {
  transform: scaleX(1);
}

.navigation-list__link.link-current, .navigation-list__link:focus, .navigation-list__link:hover {
  outline-color: #2195f3;
  color: #2196f3;
}

.contacts-list {
  margin-left: auto;
}

.contacts-list__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list__link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: currentColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  /* 16 */
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:focus, .contacts-list__link:hover {
  outline-color: #2195f3;
  color: #2196f3;
}

.contacts-list__link:hover .contacts-list__svg {
  fill: #2196f3;
}

.contacts-list__svg {
  margin-right: 10px;
  fill: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list .envelope-icon {
  width: 16px;
  height: 12px;
}

.contacts-list .smartphone-icon {
  width: 10px;
  height: 16px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  border-top: 1px solid #ececec;
}

.button-list {
  display: flex;
  justify-content: center;
}

.button-list .item + .item {
  margin-left: 6px;
}

.button-list .btn {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* 1.6 */
  border: none;
  margin-bottom: 50px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list .btn:hover, .button-list .btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  border-radius: 4px;
}

.portfolio-examples {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list {
  background: #ffffff;
  box-sizing: border-box;
  margin-right: 30px;
  width: calc((100% - 60px) / 3);
  overflow: hidden;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-list:hover {
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio-link {
  text-decoration: none;
  overflow: hidden;
}

.portfolio-link .portfolio-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-link .portfolio-box .overlay {
  /* outline: 1px solid tomato; */
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  font-size: 18px;
  line-height: 28px;
  padding: 63px 24px;
  color: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link .portfolio-box:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-link .card-content {
  position: relative;
  background: #ffffff;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio-link .card-content .title {
  font-weight: 700;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  /* 36 */
  letter-spacing: 0.06em;
}

.portfolio-link .card-content p {
  font-size: 16px;
  line-height: 1.9;
  /* 30 */
  color: #757575;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .conteiner {
  display: flex;
  align-items: baseline;
  position: relative;
}

.footer-contact {
  margin-right: 70px;
}

.footer-contact__list {
  font-size: 14px;
  line-height: 1.7;
  /* 24 */
  font-style: normal;
}

.footer-contact__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact__address {
  color: #ffffff;
}

/* ========== join-conteiner ===========  */
.join-conteiner {
  margin-right: 93px;
}

.join-conteiner .join {
  display: block;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social {
  display: flex;
}

.footer-social .item + .item {
  margin-left: 10px;
}

.footer-social .item {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social .item:hover,
.footer-social .item:focus {
  background-color: #2196f3;
  border-radius: 50%;
}

.footer-social .footer-icon {
  width: 20px;
  height: 20px;
}

/* ========== subscribe-conteiner ========== */
.subscribe__label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscribe__input {
  font-size: 16px;
  line-height: 20px;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  letter-spacing: 0.03em;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
}

.subscribe .modal-btn {
  position: relative;
  text-align: left;
}

.subscribe .icon-send {
  position: absolute;
  width: 20px;
  height: 50%;
  top: 12px;
  right: 28px;
}
/*# sourceMappingURL=portfolio.css.map */