.command {
	background-color: #f5f4fa;
	padding-top: 60px;
	padding-bottom: 60px;
}

.command-list {
	&__card {
		max-width: 450px;
		background: #ffffff;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: 0px 0px 4px 4px;
	}
}
@media screen and (max-width: 767px) {
	.command-list__card:not(:last-child) {
		margin-bottom: 60px;
	}
}

.command-card {
	&__info {
		padding-top: 30px;
		padding-bottom: 24px;
	}
	&__title {
		text-align: center;
		margin: 0;
		font-size: 16px;
		line-height: 1.9; /* 19 */
		color: $title-text-color;
		font-weight: 500;
	}
	&__job {
		text-align: center;
		margin: 0;
		font-size: 16px;
		line-height: 1.9; /* 19 */
	}
}

.command-social {
	display: flex;
	justify-content: center;
	margin-top: 16px;

	& .item + .item {
		margin-left: 10px;
	}
	.item-link {
		display: flex;
		width: 44px;
		height: 44px;
		border-radius: 50%;
		background-color: white;
		color: #afb1b8;
		justify-content: center;
		align-items: center;
		transition-property: background-color;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
	.item-link:hover {
		background-color: $accent-color;
		border-radius: 50%;
	}
	.icon {
		fill: currentColor;
		width: 20px;
		height: 20px;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}

	.item-link:hover .icon {
		fill: white;
	}
}

// @media screen and (min-width: 768px) {
// 	// .command-list {
// 	display: flex;
// 	flex-wrap: wrap;

// 	&__card {
// 		max-width: 354px;
// 	}

// 	&__card:not(:last-child) {
// 		margin-right: 30px;
// 	}
// }

// .command-card {
// 	&__info {
// 		// padding-top: 30px;
// 		// padding-bottom: 30px;
// 	}
// 	&__title {
// 		// margin: 0;
// 		// font-size: 16px;
// 		// line-height: 1.9; /* 19 */
// 		// color: $title-text-color;
// 		// font-weight: 500;
// 	}
// 	&__job {
// 		// margin: 0;
// 		// font-size: 16px;
// 		// line-height: 1.9; /* 19 */
// 	}
// }

// 	.command-social {
// 		// display: flex;
// 		// justify-content: center;
// 		// margin-top: 16px;
// 		// & .item + .item {
// 		// 	margin-left: 10px;
// 		// }
// 		// .item-link {
// 		// 	display: flex;
// 		// 	width: 44px;
// 		// 	height: 44px;
// 		// 	border-radius: 50%;
// 		// 	background-color: white;
// 		// 	color: #afb1b8;
// 		// 	justify-content: center;
// 		// 	align-items: center;
// 		// 	transition-property: background-color;
// 		// 	transition-duration: 250ms;
// 		// 	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// 		// }
// 		// .item-link:hover {
// 		// 	background-color: $accent-color;
// 		// 	border-radius: 50%;
// 		// }
// 		// .icon {
// 		// 	fill: currentColor;
// 		// 	width: 20px;
// 		// 	height: 20px;
// 		// 	transition-duration: 250ms;
// 		// 	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// 		// }

// 		// .item-link:hover .icon {
// 		// 	fill: white;
// 		// }
// 	// }
// }

@media screen and (min-width: 1200px) {
	.command {
		background-color: #f5f4fa;
		padding-top: 94px;
		padding-bottom: 94px;
	}

	.command-list {
		display: flex;
		text-align: center;
		&__card {
			width: 270px;
			background: #ffffff;
			box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
			border-radius: 0px 0px 4px 4px;
		}
		&__card:not(:last-child) {
			margin-bottom: 0;
			margin-right: 30px;
		}
	}

	.command-card {
		&__info {
			padding-top: 30px;
			padding-bottom: 30px;
		}
		&__title {
			margin: 0;
			font-size: 16px;
			line-height: 1.9; /* 19 */
			color: $title-text-color;
			font-weight: 500;
		}
		&__job {
			margin: 0;
			font-size: 16px;
			line-height: 1.9; /* 19 */
		}
	}

	.command-social {
		display: flex;
		justify-content: center;
		margin-top: 16px;
		& .item + .item {
			margin-left: 10px;
		}
		.item-link {
			display: flex;
			width: 44px;
			height: 44px;
			border-radius: 50%;
			background-color: white;
			color: #afb1b8;
			justify-content: center;
			align-items: center;
			transition-property: background-color;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}
		.item-link:hover {
			background-color: $accent-color;
			border-radius: 50%;
		}
		.icon {
			fill: currentColor;
			width: 20px;
			height: 20px;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}

		.item-link:hover .icon {
			fill: white;
		}
	}
}
