.engage {
	@media screen and (max-width: 1199px) {
		display: none;
	}
}
.engage {
	padding-bottom: 94px;
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.engage-pic {
	position: relative;
	&::before {
		display: inline-block;
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 370px;
		height: 70px;
		background: rgba(47, 48, 58, 0.8);
	}
	&__title {
		position: absolute;
		left: 83px;
		bottom: 22px;
		font-weight: bold;
		font-size: 14px;
		line-height: 16px;
		text-transform: uppercase;
		color: #ffffff;
	}
}
