.feature {
	padding-top: 60px;
	padding-bottom: 60px;
}

.feature-list {
	&__item {
		max-width: 450px;
	}
	&__icon {
		display: flex;
		max-width: 450px;
		height: 120px;
		justify-content: center;
		align-items: center;
		background-color: $second-color;
		border-radius: 4px;
		margin-bottom: 30px;
	}
	&__svg {
		width: 70px;
		height: 70px;
	}
	.section-title {
		font-size: 14px;
		line-height: 1.1; /* 16 */
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	&__description {
		font-size: 14px;
		line-height: 1.7; /* 24 */
	}
}
// ????
@media screen and (max-width: 768px) {
	.feature-list__item:not(:last-child) {
		margin-bottom: 30px;
	}
}

@media screen and (min-width: 768px) {
	.feature-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		&__item {
			max-width: 354px;
		}
		&__icon {
			max-width: 354px;
		}
		.section-title {
			text-align: left;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.feature-list__item:not(:nth-last-child(-n + 2)) {
		margin-bottom: 30px;
	}
}

@media screen and (min-width: 1200px) {
	.feature {
		padding-top: 94px;
		padding-bottom: 94px;
	}

	.feature-list {
		&__item {
			max-width: 270px;
		}
		&__icon {
			max-width: 270px;
		}
	}
}
