.footer {
	background-color: #2f303a;
	padding-top: 60px;
	padding-bottom: 60px;
}

@media (min-width: 1140px) {
	.footer {
		background-color: #2f303a;
		padding-top: 60px;
		padding-bottom: 60px;

		.conteiner {
			display: flex;
			align-items: baseline;
			position: relative;
		}
	}

	.footer-contact {
		margin-right: 70px;

		&__list {
			font-size: 14px;
			line-height: 1.7; /* 24 */
			font-style: normal;
		}

		&__item:not(:last-child) {
			margin-bottom: 9px;
		}

		&__link {
			text-decoration: none;
			color: rgba(255, 255, 255, 0.6);
		}

		&__address {
			color: $hero-color;
		}
	}

	/* ========== join-conteiner ===========  */

	.join-conteiner {
		margin-right: 93px;
		.join {
			display: block;
			color: $hero-color;
			font-size: 14px;
			line-height: 16px;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
	}

	.footer-social {
		display: flex;

		& .item + .item {
			margin-left: 10px;
		}
		& .item {
			display: flex;
			width: 44px;
			height: 44px;
			border-radius: 50%;
			background: rgba(255, 255, 255, 0.1);
			border-radius: 50%;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}
		& .item:hover,
		.item:focus {
			background-color: $accent-color;
			border-radius: 50%;
		}
		.footer-icon {
			width: 20px;
			height: 20px;
		}
	}

	/* ========== subscribe-conteiner ========== */

	.subscribe {
		&__label {
			display: block;
			font-weight: bold;
			font-size: 14px;
			line-height: 16px;
			letter-spacing: 0.03em;
			text-transform: uppercase;

			color: #ffffff;
			margin-bottom: 20px;
		}
		&__input {
			font-size: 16px;
			line-height: 20px;

			width: 358px;
			height: 50px;
			padding: 15px 16px;
			letter-spacing: 0.03em;
			background-color: #2f303a;
			color: rgba(255, 255, 255, 0.6);
			border: 1px solid rgba(255, 255, 255, 0.3);
			filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
			border-radius: 4px;
			margin-right: 12px;
		}
		.modal-btn {
			position: relative;
			text-align: left;
		}
		.icon-send {
			position: absolute;
			width: 20px;
			height: 50%;
			top: 12px;
			right: 28px;
		}
	}
}
