.header .conteiner {
	position: relative;

	@media screen and (max-width: 767px) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.menu-button {
			display: inline-flex;
			margin: 0;
			padding: 0;
			border: none;
			background-color: transparent;
			.icon-close {
				display: none;
				transition-duration: 250ms;
				transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			}
			.icon-close {
				transition-duration: 250ms;
				transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			}
			.icon-close:hover {
				fill: $accent-color;
			}
			.icon-menu:hover {
				fill: $accent-color;
			}
		}

		.menu-button.is-open .icon-close {
			display: block;
		}
		.menu-button.is-open .icon-menu {
			display: none;
		}
		.menu-conteiner {
			z-index: 2;
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 453px;
			border-top: 1px solid #ececec;
			background-color: #fff;
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
			padding: 60px 0;
			text-align: center;
			&.is-open {
				display: block;
			}
		}
	}
}

.navigation-list {
	@media screen and (max-width: 767px) {
		margin-bottom: 60px;
		&__item:not(:last-child) {
			margin-bottom: 40px;
		}
		&__item {
			position: relative;
			display: block;
			width: min-content;
			margin: 0 auto;
		}
	}
	.item-current::after {
		content: "";
		position: absolute;
		display: block;
		bottom: 0;
		height: 4px;
		width: 100%;
		border-radius: 2px;
		background-color: $accent-color;
	}

	&__link {
		position: relative;

		display: block;
		padding-top: 8px;
		padding-bottom: 8px;

		color: $title-text-color;
		font-weight: 500;
		font-size: 14px;
		line-height: 1.1; /* 16 */
		letter-spacing: 0.02em;
		text-decoration: none;
		transition-duration: 250ms;
		transition-timing-function: $timing-function;
		&.link-curent::after {
			content: "";
			position: absolute;
			display: block;
			bottom: 0;
			height: 4px;
			width: 100%;
			border-radius: 2px;
			background-color: $accent-color;
			transition: transform 250ms $timing-function;
			transform: scaleX(0);
		}
		&:hover::after {
			transform: scaleX(1);
		}
		&.link-current,
		&:focus,
		&:hover {
			outline-color: #2195f3;
			color: $accent-color;
		}
	}
}

.contacts-list {
	&__item:not(:last-child) {
		margin-bottom: 16px;
	}

	&__link {
		display: inline-flex;
		align-items: center;

		color: currentColor;
		font-weight: 500;
		font-size: 14px;
		line-height: 1.1; /* 16 */
		letter-spacing: 0.02em;
		text-decoration: none;
		transition-duration: 250ms;
		transition-timing-function: $timing-function;
		&:focus,
		&:hover {
			outline-color: #2195f3;
			color: $accent-color;
		}
		&:hover .contacts-list__svg {
			fill: #2196f3;
		}
	}
	&__svg {
		margin-right: 10px;
		fill: $primary-text-color;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
	.envelope-icon {
		width: 16px;
		height: 12px;
	}
	.smartphone-icon {
		width: 10px;
		height: 16px;
	}
}

.menu-button {
	@media screen and (min-width: 768px) {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.header {
		.menu-conteiner,
		.navigation,
		.navigation-list {
			display: flex;
			align-items: center;
		}
	}
	.navigation-list {
		margin-left: 88px;

		&__item {
			position: relative;
		}

		&__item:not(:last-child) {
			margin-right: 50px;
		}

		&__link {
			padding-top: 32px;
			padding-bottom: 32px;
		}
	}

	.contacts-list {
		margin-left: 84px;

		&__item:not(:last-child) {
			margin-bottom: 10px;
		}

		&__link {
			font-size: 12px;
			line-height: 1.16; /* 14 */

			&:focus,
			&:hover {
				outline-color: #2195f3;
				color: $accent-color;
			}
			&:hover .contacts-list__svg {
				fill: #2196f3;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.header {
		.conteiner,
		.contacts-list {
			display: flex;
			align-items: center;
		}
	}
	.navigation-list {
		margin-left: 93px;

		// &__item {
		// 	position: relative;
		// }

		// &__item:not(:last-child) {
		// 	margin-right: 50px;
		// }
		// .item-current::after {
		// 	content: "";
		// 	position: absolute;
		// 	display: block;
		// 	bottom: 0;
		// 	height: 4px;
		// 	width: 100%;
		// 	border-radius: 2px;
		// 	background-color: $accent-color;
		// }

		&__link {
			display: block;
			// padding-top: 32px;
			// padding-bottom: 32px;
		}
	}

	.contacts-list {
		// ???
		// margin-left: auto;
		margin-left: 270px;

		&__item:not(:last-child) {
			margin-bottom: 0;
			margin-right: 50px;
		}

		&__link {
			padding-top: 32px;
			padding-bottom: 32px;
		}
	}
}
