.portfolio {
	border-top: 1px solid #ececec;
	padding-top: 60px;
	padding-bottom: 60px;

	@media screen and (min-width: 1199px) {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}

.button-list {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	@media screen and (max-width: 767px) {
		margin-bottom: 40px;
		& .item {
			margin-right: 8px;
		}
		& .item:nth-child(-n + 3) {
			margin-bottom: 15px;
		}
	}
	@media screen and (min-width: 768px) {
		justify-content: center;
		margin-bottom: 30px;
	}
	@media screen and (min-width: 1199px) {
		margin-bottom: 50px;
	}

	& .item:not(:last-child) {
		margin-right: 8px;
	}
	& .btn {
		display: inline-block;
		padding: 6px 22px;
		border-radius: 4px;
		color: $title-text-color;
		background-color: $second-color;
		font-weight: 500;
		font-size: 16px;
		line-height: 26px; /* 1.6 */
		border: none;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		&:hover,
		&:focus {
			color: $hero-color;
			background-color: $accent-color;
			box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
			cursor: pointer;
			border-radius: 4px;
		}
	}
}

.portfolio-examples {
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
	}
}
.portfolio-list:not(:last-child) {
	@media screen and (max-width: 767px) {
		margin-bottom: 30px;
	}
}
.portfolio-list {
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		width: calc((100% - 4 * 15px) / 2);
		margin: 15px;
	}
}
.portfolio-list {
	@media screen and (min-width: 1199px) {
		width: calc((100% - 6 * 15px) / 3);
		margin: 15px;
	}
}

.portfolio-list {
	background: #ffffff;
	overflow: hidden;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	&:hover {
		background: #ffffff;
		box-sizing: border-box;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
		cursor: pointer;
	}
}

.portfolio-link {
	text-decoration: none;
	overflow: hidden;

	.portfolio-box {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		.overlay {
			outline: 1px solid tomato;
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgba(33, 150, 243, 0.9);
			opacity: 0;
			transform: translateY(100%);
			font-size: 18px;
			line-height: 28px;
			padding: 63px 24px;
			color: #ffffff;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}

		&:hover .overlay {
			opacity: 1;
			transform: translateY(0);
		}
	}

	.card-content {
		position: relative;
		background: #ffffff;
		border-right: 1px solid #eeeeee;
		border-bottom: 1px solid #eeeeee;
		border-left: 1px solid #eeeeee;
		padding: 20px 24px;
		.title {
			font-weight: 700;
			color: $title-text-color;
			font-size: 18px;
			line-height: 2; /* 36 */
			letter-spacing: 0.06em;
		}
		p {
			font-size: 16px;
			line-height: 1.9; /* 30 */
			color: #757575;
		}
	}
}
@media screen and (min-width: 767px) {
	.portfolio-list {
		background: #ffffff;
		overflow: hidden;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		&:hover {
			background: #ffffff;
			box-sizing: border-box;
			box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
			cursor: pointer;
		}
	}

	.portfolio-link {
		text-decoration: none;
		overflow: hidden;

		.portfolio-box {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			.overlay {
				outline: 1px solid tomato;
				position: absolute;
				width: 100%;
				height: 100%;
				background: rgba(33, 150, 243, 0.9);
				opacity: 0;
				transform: translateY(100%);
				font-size: 18px;
				line-height: 28px;
				padding: 63px 24px;
				color: #ffffff;
				transition-duration: 250ms;
				transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			}

			&:hover .overlay {
				opacity: 1;
				transform: translateY(0);
			}
		}

		.card-content {
			position: relative;
			background: #ffffff;
			border-right: 1px solid #eeeeee;
			border-bottom: 1px solid #eeeeee;
			border-left: 1px solid #eeeeee;
			padding: 20px 24px;
			.title {
				font-weight: 700;
				color: $title-text-color;
				font-size: 18px;
				line-height: 2; /* 36 */
				letter-spacing: 0.06em;
			}
			p {
				font-size: 16px;
				line-height: 1.9; /* 30 */
				color: #757575;
			}
		}
	}
}
