.navigation .logotip,
.footer .logotip {
	display: block;
	font-family: Raleway, sans-serif;
	color: $title-text-color;

	font-weight: 700;
	letter-spacing: 0.03em;
	text-decoration: none;
	transition-duration: 250ms;
	transition-timing-function: $timing-function;
}

.logotip-accent {
	outline-color: #2195f3;
	color: $accent-color;
}

.footer__logotip-color {
	// outline-color: #2195f3;
	color: $hero-color;
}

@media screen and (min-width: 320px) {
	.navigation .logotip,
	.footer .logotip {
		padding-top: 16px;
		padding-bottom: 16px;
		font-size: 24px;
		line-height: 1.2; /* 28 */
	}
}

@media screen and (min-width: 768px) {
	.navigation .logotip,
	.footer .logotip {
		padding-top: 26px;
		padding-bottom: 26px;
		font-size: 24px;
		line-height: 1.2; /* 28 */
	}
}

@media screen and (min-width: 1140px) {
	.navigation .logotip,
	.footer .logotip {
		padding-top: 24px;
		padding-bottom: 25px;
		font-size: 26px;
		line-height: 1.2; /* 31 */
	}
	.footer .logotip {
		padding-top: 0;
		padding-bottom: 20px;
	}
}
