@media (min-width: 320px) {
	.backdrop {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.2);
		transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
		opacity: 1;
	}

	.backdrop.is-hidden {
		opacity: 0;
		pointer-events: none;
		.modal {
			transform: translate(-50%, -50%) scale(0.9);
		}
	}

	.modal {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 450px;
		max-height: 609px;
		padding: 40px;
		background: #ffffff;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: 4px;
		transform: translate(-50%, -50%) scale(1);
		transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
		background-color: #fff;
		z-index: 1;

		.close-btn {
			position: absolute;
			top: 8px;
			right: 8px;
			width: 30px;
			height: 30px;
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-radius: 50%;
			cursor: pointer;
		}

		.icon-close {
			width: 11px;
			height: 11px;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}
		.icon-close:hover {
			fill: $accent-color;
		}
	}

	.form {
		&-title {
			display: inline-block;
			font-weight: bold;
			font-size: 20px;
			line-height: 23px;
			letter-spacing: 0.03em;
			width: 448px;
			margin-bottom: 12px;
			color: #212121;
		}
		.modal-btn {
			margin-left: 124px;
		}
	}

	.form-group {
		display: flex;
		flex-direction: column;
		position: relative;
		font-size: 12px;
		line-height: 14px;

		letter-spacing: 0.01em;

		margin-bottom: 10px;
		.label {
			text-align: left;
			margin-bottom: 4px;
		}
		.input {
			width: 100%;
			height: 40px;
			margin: 0;
			padding: 12px 42px;
			border: 1px solid rgba(33, 33, 33, 0.2);
			border-radius: 4px;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

			&:focus,
			&:hover {
				outline-color: $accent-color;
				border-color: $accent-color;
			}

			&:hover + .icon-person,
			&:hover + .icon-phone,
			&:hover + .icon-email,
			&:focus + .icon-person,
			&:focus + .icon-phone,
			&:focus + .icon-email {
				outline-color: $accent-color;
				fill: $accent-color;
			}
		}
		.icon-person {
			position: absolute;
			display: inline-block;
			top: 30px;
			left: 14px;
			width: 12px;
			height: 12px;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}

		.icon-phone {
			position: absolute;
			display: inline-block;
			top: 30px;
			left: 14px;
			width: 13px;
			height: 13px;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}
		.icon-email {
			position: absolute;
			display: inline-block;
			top: 30px;
			left: 14px;
			width: 15px;
			height: 12px;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}
		&.area {
			margin-bottom: 20px;
		}
		.textarea {
			resize: none;
			width: 100%;
			height: 120px;
			margin: 0;

			padding: 12px 16px;

			border: 1px solid rgba(33, 33, 33, 0.2);
			border-radius: 4px;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			&:hover,
			&:focus {
				outline-color: $accent-color;
				border-color: $accent-color;
			}
			&::placeholder {
				font-size: 14px;
				line-height: 16px;
				letter-spacing: 0.01em;
				color: rgba(117, 117, 117, 0.5);
			}
		}
	}

	.label-checkbox {
		display: inline-block;
		position: relative;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.03em;
		margin-bottom: 30px;
		.checkbox {
			position: absolute;
			width: 1px;
			height: 1px;
			margin: -1px;
			padding: 0;
			border: 0;
			clip: rect(0 0 0 0);
			overflow: hidden;
			white-space: nowrap;
			clip-path: inset(100%);
			&:checked + .icon-check {
				background-image: url("../svg/7-hw/icon-check.svg");
				background-color: $accent-color;
				background-size: contain;
				background-origin: border-box;
				border: 2px solid $accent-color;
			}
		}
		.icon-check {
			display: inline-block;
			top: 10px;
			right: 10px;
			width: 16px;
			height: 15px;
			background-origin: content-box;
			border: 1px solid black;
			border-radius: 4px;
			margin-right: 7px;
		}
		&__link {
			color: $accent-color;
		}
	}
}

@media (min-width: 768px) {
	.backdrop {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.2);
		transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
		opacity: 1;
	}

	.backdrop.is-hidden {
		opacity: 0;
		pointer-events: none;
		.modal {
			transform: translate(-50%, -50%) scale(0.9);
		}
	}

	.modal {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 450px;
		max-height: 609px;
		padding: 40px;
		background: #ffffff;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: 4px;
		transform: translate(-50%, -50%) scale(1);
		transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
		background-color: #fff;
		z-index: 1;

		.close-btn {
			position: absolute;
			top: 8px;
			right: 8px;
			width: 30px;
			height: 30px;
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-radius: 50%;
			cursor: pointer;
		}

		.icon-close {
			width: 11px;
			height: 11px;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}
		.icon-close:hover {
			fill: $accent-color;
		}
	}

	.form {
		&-title {
			display: inline-block;
			font-weight: bold;
			font-size: 20px;
			line-height: 23px;
			letter-spacing: 0.03em;
			width: 448px;
			margin-bottom: 12px;
			color: #212121;
		}
		.modal-btn {
			margin-left: 124px;
		}
	}

	.form-group {
		display: flex;
		flex-direction: column;
		position: relative;
		font-size: 12px;
		line-height: 14px;

		letter-spacing: 0.01em;

		margin-bottom: 10px;
		.label {
			text-align: left;
			margin-bottom: 4px;
		}
		.input {
			width: 100%;
			height: 40px;
			margin: 0;
			padding: 12px 42px;
			border: 1px solid rgba(33, 33, 33, 0.2);
			border-radius: 4px;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

			&:focus,
			&:hover {
				outline-color: $accent-color;
				border-color: $accent-color;
			}

			&:hover + .icon-person,
			&:hover + .icon-phone,
			&:hover + .icon-email,
			&:focus + .icon-person,
			&:focus + .icon-phone,
			&:focus + .icon-email {
				outline-color: $accent-color;
				fill: $accent-color;
			}
		}
		.icon-person {
			position: absolute;
			display: inline-block;
			top: 30px;
			left: 14px;
			width: 12px;
			height: 12px;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}

		.icon-phone {
			position: absolute;
			display: inline-block;
			top: 30px;
			left: 14px;
			width: 13px;
			height: 13px;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}
		.icon-email {
			position: absolute;
			display: inline-block;
			top: 30px;
			left: 14px;
			width: 15px;
			height: 12px;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}
		&.area {
			margin-bottom: 20px;
		}
		.textarea {
			resize: none;
			width: 100%;
			height: 120px;
			margin: 0;

			padding: 12px 16px;

			border: 1px solid rgba(33, 33, 33, 0.2);
			border-radius: 4px;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			&:hover,
			&:focus {
				outline-color: $accent-color;
				border-color: $accent-color;
			}
			&::placeholder {
				font-size: 14px;
				line-height: 16px;
				letter-spacing: 0.01em;
				color: rgba(117, 117, 117, 0.5);
			}
		}
	}

	.label-checkbox {
		display: inline-block;
		position: relative;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.03em;
		margin-bottom: 30px;
		.checkbox {
			position: absolute;
			width: 1px;
			height: 1px;
			margin: -1px;
			padding: 0;
			border: 0;
			clip: rect(0 0 0 0);
			overflow: hidden;
			white-space: nowrap;
			clip-path: inset(100%);
			&:checked + .icon-check {
				background-image: url("../svg/7-hw/icon-check.svg");
				background-color: $accent-color;
				background-size: contain;
				background-origin: border-box;
				border: 2px solid $accent-color;
			}
		}
		.icon-check {
			display: inline-block;
			top: 10px;
			right: 10px;
			width: 16px;
			height: 15px;
			background-origin: content-box;
			border: 1px solid black;
			border-radius: 4px;
			margin-right: 7px;
		}
		&__link {
			color: $accent-color;
		}
	}
}

@media (min-width: 1140px) {
	.backdrop {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.2);
		transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
		opacity: 1;
	}

	.backdrop.is-hidden {
		opacity: 0;
		pointer-events: none;
		.modal {
			transform: translate(-50%, -50%) scale(0.9);
		}
	}

	.modal {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 528px;
		max-height: 581px;
		padding: 40px;
		background: #ffffff;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: 4px;
		transform: translate(-50%, -50%) scale(1);
		transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
		background-color: #fff;
		z-index: 1;

		.close-btn {
			position: absolute;
			top: 8px;
			right: 8px;
			width: 30px;
			height: 30px;
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-radius: 50%;
			cursor: pointer;
		}

		.icon-close {
			width: 11px;
			height: 11px;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}
		.icon-close:hover {
			fill: $accent-color;
		}
	}

	.form {
		&-title {
			display: inline-block;
			font-weight: bold;
			font-size: 20px;
			line-height: 23px;
			letter-spacing: 0.03em;
			width: 448px;
			margin-bottom: 12px;
			color: #212121;
		}
		.modal-btn {
			margin-left: 124px;
		}
	}

	.form-group {
		display: flex;
		flex-direction: column;
		position: relative;
		font-size: 12px;
		line-height: 14px;

		letter-spacing: 0.01em;

		margin-bottom: 10px;
		.label {
			text-align: left;
			margin-bottom: 4px;
		}
		.input {
			width: 100%;
			height: 40px;
			margin: 0;
			padding: 12px 42px;
			border: 1px solid rgba(33, 33, 33, 0.2);
			border-radius: 4px;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

			&:focus,
			&:hover {
				outline-color: $accent-color;
				border-color: $accent-color;
			}

			&:hover + .icon-person,
			&:hover + .icon-phone,
			&:hover + .icon-email,
			&:focus + .icon-person,
			&:focus + .icon-phone,
			&:focus + .icon-email {
				outline-color: $accent-color;
				fill: $accent-color;
			}
		}
		.icon-person {
			position: absolute;
			display: inline-block;
			top: 30px;
			left: 14px;
			width: 12px;
			height: 12px;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}

		.icon-phone {
			position: absolute;
			display: inline-block;
			top: 30px;
			left: 14px;
			width: 13px;
			height: 13px;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}
		.icon-email {
			position: absolute;
			display: inline-block;
			top: 30px;
			left: 14px;
			width: 15px;
			height: 12px;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}
		&.area {
			margin-bottom: 20px;
		}
		.textarea {
			resize: none;
			width: 100%;
			height: 120px;
			margin: 0;

			padding: 12px 16px;

			border: 1px solid rgba(33, 33, 33, 0.2);
			border-radius: 4px;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			&:hover,
			&:focus {
				outline-color: $accent-color;
				border-color: $accent-color;
			}
			&::placeholder {
				font-size: 14px;
				line-height: 16px;
				letter-spacing: 0.01em;
				color: rgba(117, 117, 117, 0.5);
			}
		}
	}

	.label-checkbox {
		display: inline-block;
		position: relative;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.03em;
		margin-bottom: 30px;
		.checkbox {
			position: absolute;
			width: 1px;
			height: 1px;
			margin: -1px;
			padding: 0;
			border: 0;
			clip: rect(0 0 0 0);
			overflow: hidden;
			white-space: nowrap;
			clip-path: inset(100%);
			&:checked + .icon-check {
				background-image: url("../svg/7-hw/icon-check.svg");
				background-color: $accent-color;
				background-size: contain;
				background-origin: border-box;
				border: 2px solid $accent-color;
			}
		}
		.icon-check {
			display: inline-block;
			top: 10px;
			right: 10px;
			width: 16px;
			height: 15px;
			background-origin: content-box;
			border: 1px solid black;
			border-radius: 4px;
			margin-right: 7px;
		}
		&__link {
			color: $accent-color;
		}
	}
}
