.conteiner {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	outline: 1px solid rgb(255, 0, 0);

	@media screen and (min-width: 480px) {
		width: 480px;
	}

	@media screen and (min-width: 768px) {
		width: 768px;

		.header &,
		.hero & {
			display: flex;
			align-items: center;
		}
		.hero & {
			flex-direction: column;
		}
	}

	@media screen and (min-width: 1200px) {
		width: 1200px;
	}
}
