.conteiner {
	padding-left: 15px;
	padding-right: 15px;
	outline: 1px solid rgb(255, 0, 0);
}

@media screen and (min-width: 480px) {
	.conteiner {
		width: 480px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-width: 768px) {
	.conteiner {
		width: 768px;

		.header &,
		.hero & {
			display: flex;
			align-items: center;
		}
		.hero & {
			flex-direction: column;
		}
	}
}

@media screen and (min-width: 1200px) {
	.conteiner {
		width: 1200px;

		// .header &,
		// .hero & {
		// 	display: flex;
		// 	align-items: center;
		// }
		// .hero & {
		// 	flex-direction: column;
		// }
	}
}
