/* белый цвет герой #FFFFFF;*/
/* основной цвет текста #757575;*/
/* цвет зогаловок текста #212121;*/
/* вторичный цвет фона #F5F4FA;*/
/* цвет акцент #2196f3;*/
/* цвет фона подвал и герой #2F303A; */

$primary-text-color: #757575;
$title-text-color: #212121;
$second-color: #f5f4fa;
$accent-color: #2196f3;
$hero-color: #ffffff;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

// :root {
// 	--primary-text-color: #757575;
// 	--title-text-color: #212121;
// 	--second-color: #f5f4fa;
// 	--accent-color: #2196f3;
// 	--hero-color: #ffffff;
// 	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }
